{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 120,
  "bracketSameLine": false,
  "useTabs": false,
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-tailwindcss"]
}